Dockerfile
.dockerignore
node_modules
npm-debug.log
dist
sql.sql

DB_TYPE=postgres
DB_HOST=enem.ck2lneoorlhn.us-east-1.rds.amazonaws.com
DB_PORT=5432
USERNAME=postgres
PASSWORD=Erik2202*
DATABASE=postgres

EMAIL_SERVICE=gmail
EMAIL_HOST=smtp.gmail.com
EMAIL_USER=thehautd@gmail.com
EMAIL_PASSWORD=nloqbgdfbpmvdvkh

TO_EMAIL=erikgnaa@gmail.com

DB_TYPE=postgres
DB_HOST=localhost
DB_PORT=55000
USERNAME=postgres
PASSWORD=postgrespw
DATABASE=postgres

EMAIL_SERVICE=gmail
EMAIL_HOST=smtp.gmail.com
EMAIL_USER=thehautd@gmail.com
EMAIL_PASSWORD=nloqbgdfbpmvdvkh

TO_EMAIL=erikgnaa@gmail.com